* {
    padding: 0;
    margin: 0;
}
.directory-section {
    background-color: rgba(24, 23, 23, 0.896);
    padding:15px 15px 15px 0px;
    text-align: right;
}
.directory li {
    list-style: none;
    display: inline;
    padding: 10px;
}
.directory a {
    text-decoration: none;
    display: inline;
    color: white;
    font-family: calibri;
}
.fa-sharp {
    color: white;
}
.logo-section {
    margin-top: 30px;
}
.logo li {
    list-style: none;
    display: inline;
}
.logo{
    display: flex;
    justify-content: center;
}
.log {
    size: 10px;
}
.name {
    display: flex;
    align-self: center;
    padding: 10px;
    font-family:franklin gothic medium;
    font-size: 12px;
    text-align: center;
}
.break {
    font-size: 18px;
    font-family: arial narrow;
    font-weight: bold;
}
.menu-section {
    text-align: center;
    padding: 20px;
}
.menu-section li {
    list-style: none;
    display: inline;
    padding: 20px;
}
.menu-section a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.wrapper {
    width: 100%;
    height: 10px;
    -webkit-animation-name: slide_animation ;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.box {
    height: 400px;
    width: 100%;
    overflow: auto;
    float: left;
    position: relative;
    margin: 0 4px;
    overflow-y: hidden;
    -webkit-animation-name: slide_animation ;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate-reverse;
    -webkit-animation-play-state:running;
}
.box2 {
    margin-top: -399px;
    float: left;
}
@-webkit-keyframes slide_animation{
    0% {bottom:1200px;}
    10% {bottom:1200px;}
    20% {top:400px;}
    30% {bottom:0px;}
    40% {bottom:0px;}
    50% {bottom:0px;}
    60% {top:0px;}
    70% {top:0px;}
    80% {top:0px;}
    90% {bottom:0px;}
    100% {bottom:0px;}

}
.img1 {
    position: absolute;
    z-index: 2;
    transition: .5s ease-in-out;
    transform-origin: 50%, 50%;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    background-image: linear-gradient(green);
    background-size: cover;
    color: green;
    overflow: auto;
}
.img2 {
    filter:blur(0px);
    transform: scale(1);
    opacity: 1;
    transition: .5s ease-in;
    width: 224%;
    height: 399px;
    overflow-y: auto;
}
.active:hover {
    color: white;
}
.menu-section .active {
    text-decoration: underline 1px rgb(59, 183, 59);
    text-decoration-thickness: 5px;
    text-underline-offset: 20px;
}
.box:hover .img1 {
    filter: blur(20px);
    transform: scale(1);
    opacity: 0;
    overflow-y: hidden;
}

body:hover .img1 {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
    overflow-y: hidden;
    overflow: hidden;
}
.clickable {
    padding: 15px;
    color: white;
    border: solid 2px white;
    background-color: transparent;
}
.display-text {
    margin-top: -100px;
    float: left;
}
.display-text:hover .img1, .img {
    filter: blur(0px);
    transform: scale(1);
    opacity: 0;
}
.display-text {
    position: absolute;
    z-index: 2;
    transition: .5s ease-in-out;
    transform-origin: 50%, 50%;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    color: white;
    font-family: franklin gothic medium;
    padding-left: 70px;
    font-weight: bolder;
}
.text2 {
    font-size: 4vw;
    width: 50%;
    padding-bottom: 30px;
}
.text1 {
    padding-bottom: 20px;
    font-size: 1.2vw;
    
}
.box:hover .display-text {
    filter: blur(20px);
    transform: scale(1);
    opacity: 0;
}
.hero-section {
    display: flex;
    width: 110%;
    padding-top: 60px;
    font-family: calibri;
}
.hero-section .hero-text {
    width: 50%;
}
.hero-section .vc-image {
    padding: 0px 50px 50px 150px;
}
.prof {
    display: flex;
    justify-content: center;
    color: rgba(7, 168, 7, 0.816);
    font-weight: bolder;
}
.hero1 {
    font-size: 2vw;
    color: rgba(8, 179, 8, 0.843);
}
.herop {
    text-align: justify;
    font-size: 1vw;
}
.read {
    color: rgba(12, 185, 12, 0.814);
    font-weight: bold;
}
.herop a {
    text-decoration: none;
}
.hero-video {
    float: left;
    margin-top: ;
}
.hover-video {
    margin-top: -300px;
    float: right;
    color: white;
    margin-right: 170px;
    font-family: calibri;
}
.hover-video:hover .hero-video {
    filter: blur(0px);
    transform: scale(1);
    opacity: 0;
}
.video-h1 {
    font-size: 1vw;
}
.hover-video .video-span {
    font-size: 1.7vw;
}
.video-p {
    padding-top: 20px;
    font-size: 1vw;
    padding-bottom: 40px;
}
.butt {
    padding: 15px;
    background-color: transparent;
    border-color: white;
    border: solid 2px white;
    color: white;
    font-size: 1vw;
    border-radius: 10px;
}
.butt:hover {
    color: white;
}
.events {
    text-align: center;
    color: rgba(8, 149, 8, 0.951);
    padding-top: 550px;
    font-family: calibri;
    font-weight: bolder;
    font-size: 2.5vw;
}
.bott {
    display: flex;
    font-family: calibri;
    padding-left: 150px;
}
.dot {
    padding: 50px;
    border-radius: 10px; 
    background-color: rgba(200, 243, 228, 0.843);
    border: solid 1px white;
    font-size: 1vw;
    color: rgb(7, 186, 7)
}
.cal {
    font-size: 1.8vw;
    font-weight: bolder;
}
.same {
    padding-left: 20px;
}
.mat {
    color: rgba(8, 187, 8, 0.88);
}
.time {
    padding-top: 15px;
    font-weight: bold;
    font-size: 1vw;
}
.dot1 {
    padding: 20px 20px 20px 50px;
    border-radius: 10px;
    border: solid 3px rgba(8, 198, 8, 0.948);
    color: rgba(6, 199, 6, 0.924);
    background-color: transparent;
    display: flex;
}
.bott2 {
    display: flex;
    justify-content: right;
    padding-right: 150px;
}
.hh11 {
    font-family: calibri;
    padding-left: 40px;
    text-align: center;
}
.special-class {
    display: flex;
    padding-left: 150px;
    font-family: calibri;
}
.josh {
    display: ;
    text-align: right;
    padding-right: 30px;

}
.special2 {
    padding-right: 30px;
}
.special3 {
    padding-top: 30px;
    font-size: 0.90vw;

}
.hh1 {
    padding-bottom: 80px;
    color: rgba(9, 181, 9, 0.935);
    font-weight: bolder;
    font-size: 2vw;
}
.span2 {
    font-size: 1vw;
    font-weight: lighter;
}
.hero-section3 {
    background-color: rgba(127, 255, 212, 0.275);
    padding: 80px 80px 0px 80px;
    margin-top: 90px;
}
.line {
    padding-left: 30px;
    margin-top: 100px;
}
.hero-section4 {
    background-image:url(images/WWW.png);
    background-repeat: no-repeat;
    font-family: calibri;
    background-size: 800px;
    background-position: center;
    margin-top: 100px;
}
.newest {
    text-align: center;
    padding: 20px;
    color: rgba(6, 179, 6, 0.966);
    background-color: transparent;
}
.hero-section5 {
    display: flex;
    background-color: rgba(6, 164, 6, 0.692);
    color: white;
    font-family: calibri;
    justify-content: space-around;
    padding: 150px;
}
.column1 {
    font-size: 1vw;
    display: flex;
    padding-top: 12px;
}
.hhhh1 {
    font-size: 1vw;
    text-align: center;
    padding-left: 10px;
}
.unity {
    font-weight: lighter;
    font-size: 0.77vw;
}
.second, .third, .fourth {
    font-size: 1vw;
}
.hov {
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: solid 1px green;
    color: green;
}
.copyright {
    font-size: 1.2vw;
}
.fa-regular {
    font-weight: lighter;
    font-size: 1vw;
}
.na {
    align-self: left;
    padding-right: 15px;
    font-size: 25px;
}
.ma {
    align-self: left;
    padding-right: 12px;
    font-size: 25px;
}
.ccc {
    display: flex;
}
.cccc {
    display: flex;
}
.dan {
    padding-left: 34px;
}